body {
  margin-top: 50px;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  color: #272044;
  font-weight: 100;
}

h4,
.text,
.feeling-temp,
.day {
  text-align: center;
}

.container,
.button-search,
.units,
.move,
.mx-1,
.day,
.forecast-weather {
  position: relative;
}

.container {
  display: block;
  min-width: 630px;
  max-width: 800px;
  min-height: 700px;
}

.card {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
  padding-right: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.size {
  padding-right: 0px;
}

.row {
  --bs-gutter-x: 6.2rem;
  max-width: 103%;
}

.button-search {
  left: -85px;
  padding: 5px 10px;
  right: 70px;
  border: 1px solid #e4e2e7;
  border-radius: 7px;
  background: #c5d7fb;
  color: #272044;
  transition: all 100ms ease-in-out;
}

.button-current {
  position: absolute;
  padding: 5px 10px;
  margin-left: 530px;
  margin-top: -38px;
  right: 24px;
  border: 1px solid #e4e2e7;
  border-radius: 7px;
  background: #c5d7fb;
  color: #272044;
  transition: all 100ms ease-in-out;
}

.button-search:hover,
.button-current:hover {
  background: #b4caf7;
}

.text {
  margin-top: 35px;
  padding-right: 5px;
}

.main-temp {
  font-size: 40px;
}

.units {
  font-size: 25px;
  top: -12px;
}

.celsius-link-style,
.fahrenheit-link-style {
  text-decoration: none;
}

.active {
  color: #272044;
  cursor: default;
}

.main-sign {
  font-size: 50px;
  margin-top: -30px;
  margin-bottom: -1rem;
}

.description::first-letter {
  text-transform: capitalize;
}

.move {
  right: -54px;
  top: 20px;
}

.feeling-temp {
  padding-bottom: 20px;
  margin-top: -3px;
}

.feels-like {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.px-1 {
  padding-left: 1.8rem !important;
}

.mx-1 {
  min-width: 50px;
  right: 30.25rem !important;
}

.day {
  top: 10px;
  padding: 4px 9px;
  left: 25px;
  border-radius: 10px;
  border: none;
  background: #f1f5fe;
}

.forecast-week-day {
  font-size: 19px;
}

.forecast-weather {
  width: 70px;
  left: -1px;
  top: -5px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.author {
  font-weight: 500;
}

.source-link {
  text-decoration: none;
}
